*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;
    font-size: 30px;
}

header{

    height: 60px;
    background: rgba(0, 0, 0, 0.8);

}
@media only screen and (max-width:600px){

    header{
        height:80px;
    }

}
nav{

    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
nav .Link{

    padding-left: 60px;
    color: white;
    transition: 0.5s;

}
nav .Link:hover{

    transform: scale(2);
    
}
nav .Link:active{

    transition: 0.01s;
    color: blue;

}
/*  */
main{

    height: 900px;

}
#main2{

    height: 1100px;

}
#main3{

    padding-bottom: 1000px;
    color: white;
    
}
main section{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
#divnome{
    
    border-radius: 20px;
    margin: 60px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 700px;
    color: white;
    transition: 0.5s;
    justify-items: center;

}
#divnome img{

    width: 100%;

}
#divnome p{

    font-size: 25px;

}
#p1{

    padding-top: 80px;

}
@media only screen and (max-width:600px){

    *{
        font-size: 20px;
    }
    #divnome p{

        font-size: 15px;
    
    }

}
.card{

    border-radius: 20px;
    margin: 60px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 700px;
    color: white;
    transition: 0.5s;

}
.card:hover{

    transform: translateY(-20px);

}
.card img{

    width: 100%;
    height: 100%;

}
.card p{

    font-size: 20px;

}
#divform{

    border-radius: 20px;
    margin-top: 100px;
    width: 500px;
    height: 350px;
    background-color:rgba(0, 0, 0, 0.8);

}
.reg{

    margin-top: 20px;
    margin-left: 60px;

}
#user{

    margin-top: 90px;

}
#cadastro{

    margin-left: 180px;

}
#opinion{

    margin-top: 20px;
    border-radius: 20px;
    width: 500px;
    height: 350px;

}

footer{


    background: rgba(0, 0, 0, 0.8);

}
footer .Label{

    color: white;

}
footer #tamanhofonte{

    font-size: 30px;

}


